@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color-scheme: dark;
  scrollbar-width: thin; /* Define a largura da barra de rolagem (pode ser auto, thin ou none) */
  scrollbar-color: rgb(113, 109, 207) rgb(56, 56, 82); /* Cor do polegar e do fundo */
}
