@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  scrollbar-width: thin;
}

body {
  @apply bg-slate-400 text-slate-800;
}

.dark body {
  @apply bg-slate-950 text-slate-200;
  color-scheme: dark;
}

.scrollbar-whatsapp {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  overflow-y: auto;
}

.scrollbar-whatsapp::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-whatsapp::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-whatsapp::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: background-color 0.3s;
}

.scrollbar-whatsapp:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}
.input-dark {
  @apply bg-slate-800 text-white;
}

/* Força visibilidade do ícone do input datetime-local */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
  opacity: 1;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
